
# Created by https://www.gitignore.io/api/node

node_modules/
nodeTest/

CNN/Data/Raw/Afrobeat/*
CNN/Data/Raw/Bachata/*
CNN/Data/Raw/Brazilian Zouk/*
CNN/Data/Raw/Kizomba/*

CNN/Data/Slices/Afrobeat/*
CNN/Data/Slices/Bachata/*
CNN/Data/Slices/Brazilian Zouk/*
CNN/Data/Slices/Kizomba/*

CNN/Data/Input/Corrected/*
CNN/Data/Input/Slices/Test/*

CNN/musicDNN.tflearn.data-00000-of-00001

CNN/*.pyc
